body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
 background-image:url(4.jpg);
 background-position: center;
 background-size: cover;
 transition: all 1.5s linear;
}

/* Header styles */
header {
 color: mintcream;
 padding: 20px;
 text-align: center;
}

h1 {
 margin: 0;
 font-size: 3em;
}

.logo {
 position: absolute;
 top: 20;

}

nav ul {
 position: relative;
 list-style: none;
 margin: 0;
 padding: 0;
 display: inline-block;
}

nav li {
 float: left;
 position: relative;

}

nav a {
 display: inline-block;
 padding: 0 10px;
 line-height: 50px;
 color: mintcream;
 font-size: 16px;
 text-decoration: none;
}

nav ul ul {
 display: none;
 position: absolute;
 top: 100%;
 left: 0;
 background-color: black;
 border: 1px solid #0e0d0d;
}

nav ul li:hover>ul {
 display: inherit;
}

nav ul ul li {
 float: none;
 position: relative;
}

.link::before,
.link::after {
 content: "";
 position: absolute;
 left: 0;
 width: 100%;
 height: 2px;
 background-color: #a65454;
 transform: scaleX(0);
 transition: transform .25s;
}

.link::before {
 top: -3px;
 transform-origin: left;
}

.link::after {
 bottom: -3px;
 transform-origin: right;
}

.link:hover::before,
.link:hover::after {
 transform: scaleX(1);
}
.form-popup {
 display: block;
 position: fixed;
  bottom: -10px;
  right: 10px;
  /* border: 2px solid #f1f1f1; */
  /* z-index: 9; */
}
.form-container input[type=email],
.form-container input[type=text],
.form-container input[type=password] {
 width: 100%;
 padding: 10px;
 margin: 5px 0 10px 0;
 border: none;
 background: #f1f1f1;
 outline: none;
}
.form-container {
 max-width: 300px;
 max-height: 500px;
 padding: 5px;
 background-color: white;
}

.form-container a {
 text-decoration: none;
 color: #3e8e41;
}

/* Button styles */
.btn {
 background-color: #4CAF50;
 color: white;
 padding: 12px 20px;
 border: none;
 cursor: pointer;
 width: 100%;
 margin-bottom: 10px;
 opacity: 0.8;
}

/* Cancel button */
.cancel {
 background-color: #ff6666;
}

/* Hover effects */
.btn:hover,
.cancel:hover {
 opacity: 1;
}
.about-section {
 padding: 20px;
 margin-bottom: 20px;
 text-align: center;
}

.about-section h2 {
 font-size: 24px;
 font-weight: bold;
 margin-bottom: 10px;
 color: mintcream;
}

.about-section p {
 font-size: 16px;
 line-height: 1.5;
 margin-bottom: 0;
 color: #fff;
}
/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
 h1 {
  font-size: 2em;
 }

 h2 {
  font-size: 1.5em;
 }
  .form-popup {
   display: block;
   position: relative;
   bottom: -10px;
   left: 10px;
  }
}
